.index-Admin{
    background-color: purple;
    padding-top: 1%;
    padding-bottom: 1%;
}
.index-Admin ul{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}
.index-Admin ul li{
    margin-right: 10%;
}